{
  "presets": [
    [
      "es2015",
      "stage-0"
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-async-functions",
    "transform-regenerator",
    [
      "babel-plugin-root-import",
      {
        "paths": [{
          "rootPathPrefix": "@",
          "rootPathSuffix": "src"
        }, {
          "rootPathPrefix": "~"
        }]
      }
    ]
  ]
}
